body{
  background-color: grey;
}
#calculator{
  width: 358px;
  height: 410px;
  border: 5px solid black;
  
  border-radius: 8px;
  
  position:absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  
}
#screen{
  width: 348px;
  height: 100px;
  background: black;
  border: 5px solid black;
  border-radius: 5px;
  color: white;
  text-align: right;
  font-size: 50px;
}
#buttons{
  font-size: 0;
}
#buttons button{
  width: 87px;
  height: 60px;
  background: #D3D3D3;
  border: 1px solid black;
 margin:0;
  padding:0;
  color:black;
  font-size: 20px;
  font-family: Bree Serif;
 
}
#buttons .orange{
  background: orange;
}
#buttons .big{
  width: 174px;
  height: 60px;
}
